#form-numbers {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#form-numbers > div > div{
	padding: 10px 20px;
	text-align: center;
}

#form-numbers hr, input[type=text] {
	width: 80px;
	font-size: 36px;
	text-align: center;
}

#new-factor {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

button {
	margin-top: 40px;
	font-size: 20px;
}

.product {
	font-size: 48px;
	font-weight: bold;
}